@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="=col-12"><br /></div>
<div class="=col-12"><br /></div>
<div class="=col-12"><br /></div>
<div class="=col-12"><br /></div>
<div class="=col-12"><br /></div>

<h2 style="color:white">Zarządzaj kontem</h2>

<div>

    <hr style="background-color: red !important; color: red !important; border: solid 3px red !important;" />
    <div class="=col-12"><br /></div>
    <div class="=col-12"><br /></div>
    <div class="=col-12"><br /></div>
    <div class="row">
        <div class="col-md-12">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
