@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Zmień hasło:";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4 style="color:white;">@ViewData["Title"]</h4>
<div class="=col-12"><br /></div>

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.OldPassword" class="label-name"></label>
                <div class="=col-12"><br /></div>
                <input asp-for="Input.OldPassword" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPassword" class="label-name"></label>
                <div class="=col-12"><br /></div>
                <input asp-for="Input.NewPassword" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword" class="label-name"></label>
                <div class="=col-12"><br /></div>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
            </div>
            <div class="=col-12"><br /></div>

            <button type="submit" class="btn btn-primary">Zmień hasło</button>
        </form>
    </div>
    <div class="col-md-4 col-md-offset-2">

        <section>
            <div class="col-12 offset-5">
                <img class="img" src="/Photos/padlock.png" asp-append-version="true" />
            </div>
        </section>


    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}