@page "/notsupported"




<div class="col-12"><br /></div>
<div class="col-12"><br /></div>
<div class="col-12"><br /></div>
<div class="col-12"><br /></div>
<div class="col-12"><br /></div>
<div class="col-12"><br /></div>
<div class="col-12"><br /></div>

<div class="col-12 notSupport" >
    <h1>Ta rozdzielczość jest za niska. Nie jest obsługiwana. Minimum to 1151 pixeli szerokości.</h1>
    </div>
